.container
  %h1 BCL_follower
  %p
    ※取得に失敗する場合は時間を空けてから再度アクセスしてください。
  = "栃木GB #{@count_tochigi}"
  %br
  = "新潟ABC #{@count_niigata}"
  %br
  = "富山GRNTB #{@count_toyama}"
  %br
  = "石川MS #{@count_ishikawa}"
  %br
  = "福島RH #{@count_fukushima}"
  %br
  = "群馬DP #{@count_gunma}"
  %br
  = "神奈川FD #{@count_kanagawa}"
  %br
  = "信濃GS #{@count_sinano}"
  %br
  = "茨城AP #{@count_ibaraki}"
  %br
  = "埼玉武蔵HB #{@count_saitama}"
  %br
  = "オセアン滋賀UBC #{@count_shiga}"
  %br
  = "福井WR #{@count_fukui}"
