.container

  %h1 blog

  - if @category
    .mt-3
      = "category: #{@category.name}"

  - @blogs.each do |blog|
    .article
      .text-center.mt-5
        %time.last-updated
          last updated:
          = l blog.updated_at
        %h2.mt-2
          = link_to blog.title, blog
        .mt-3
          - blog.categories.each do |category|
            .category.ml-1.px-1
              = link_to category.name, blogs_path(category: category.id)
      .mt-4
        = markdown blog.body
