= simple_form_for @contact do |f|
  = f.input :company
  = f.input :name
  = f.input :email
  = f.input :telephone
  = f.input :message
  = f.button :submit, '送信する', class: 'page-link text-dark d-inline-block', data: { confirm: 'この内容で送信してもよろしいですか？' }
